@model Financial.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseHold.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseHold.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
