@model Financial.Models.Budget

@{
    ViewBag.Title = "Create";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.HouseHoldId)

                <div class="form-horizontal">
                    <h4>Budget</h4>
                    <hr />
                    <div class="input-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="input-group">
                        @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="input-group">
                        @Html.Label("TargetTotal", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.Editor("TargetTotal", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TargetTotal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-group">
                        @Html.Label("CurrentTotal", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.Editor("CurrentTotal", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    @*<div class="input-group">
                    @Html.LabelFor(model => model.HouseHoldId, "HouseHoldId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("HouseHoldId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HouseHoldId, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                    <div class="align-center">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
