@using Financial.Models
@using Microsoft.AspNet.Identity
@model Budget
@{
    ViewBag.Title = "Details";
    var currentuserId = HttpContext.Current.User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(currentuserId);

}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-md-4 card col-md-offset-4">
                    <h4 class="text-center">Budgets Details</h4>
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayName("Name")
                        </dt>

                        <dd>
                            @Html.Display("Name")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TargetTotal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TargetTotal)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CurrentTotal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CurrentTotal)
                        </dd>

                    </dl>
                   
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-md-10 card clearfix col-md-offset-1">
                    <div class="header">
                        <h2>
                            BUDGET ITEMS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:void(0);">
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            @Html.ActionLink("Back to List", "Index")
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <button class="btn bg-red waves-effect" style="float: right;" data-target="#addTransaction" data-toggle="modal">Add Budget Item</button>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable jq-data">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayName("Catergory")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TargetTotal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CurrentTotal)
                                    </th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model.BudgetItems)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TargetTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentTotal)
                                        </td>
                                       
                                    </tr>


                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="addTransaction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-color="red">&times;</button>
                <h4 class="modal-title" style="text-align:center">Add a Budget Item</h4>
            </div>
            <div class="modal-body">



                @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BudgetId", Model.Id)
                    {

                        <div class="form-horizontal">
                            <h4>BudgetItem</h4>
                            <hr />
                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Editor("biName", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Editor("biDescription", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("TargetTotal", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Editor("biTargetTotal", new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>

    </div>
</div>
