@using Financial.ViewModels
@model IEnumerable<GuestUser>

@{
    ViewBag.Title = "Lobby";

}

<section class="content">
    <div class="contrainer-fluid">
        <div class="block-header">
            <div class="row">
                @foreach (var guest in Model)
                {
                    <div class="col-md-3 card">
                        <b>Name:</b>@guest.Name<br />
                        <b>Email:</b>@guest.Email<br />
                    </div>

                }
                <br />
            </div>


            <div class="row">
                @if (User.IsInRole("HOH") || User.IsInRole("Member"))
                {
                    <div class="col-md-offset-3 col-md-3">
                        <button class="btn bg-green waves-effect" data-target="#addTransaction" data-toggle="modal">Invite</button>
                    </div>
                }
                else
                {
                    <div class="col-md-offset-3 col-md-3">
                        @Html.ActionLink("Create HouseHold", "Create", "HouseHolds", null, new { @class = "btn btn-lg btn-primary" })
                    </div>
                }


            </div>
        </div>

    </div>
</section>

<div id="addTransaction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-color="red">&times;</button>
                <h4 class="modal-title" style="text-align:center">Invite a Member</h4>
            </div>
            <div class="modal-body">




                            @using (Html.BeginForm("Create", "Invitations", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <br />
                                    <div class="input-group">
                                        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2 " })
                                        <div class="col-md-10">
                                            @Html.Editor("Email", new { htmlAttributes = new {placeholder = "Type Email Here", @class = "form-control" } })
                                            @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <br />
                                    <div class="input-group" id="editor">

                                    </div>
                                    <br />

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10" >
                                            <input type="submit" value="Send" class="btn btn-success" style="float:right;" />
                                        </div>
                                    </div>
                               

                            }
                   




            </div>

        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#editor'
            });
        });
    </script>
}