@using Financial.Models
@using Microsoft.AspNet.Identity
@using Financial.Enumerations

@model Account
@{
    ViewBag.Title = "Details";
    var currentuserId = HttpContext.Current.User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(currentuserId);


}

<section class="content">
    <div class="container-fluid ">
        <div class="block-header">
            <div class="row">
                <div class="col-md-4 card col-md-offset-4">
                    <h4 class="text-center">Account</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.HouseHold)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HouseHold.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.InitialBalance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InitialBalance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CurrentBalance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CurrentBalance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ReconciledBalance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReconciledBalance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LowBalanceLimit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LowBalanceLimit)
                        </dd>

                    </dl>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 card clearfix col-md-offset-1">
                    <div class="header">
                        <h2>
                            TRANSACTIONS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:void(0);">
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            @Html.ActionLink("Back to List", "Index")
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <button class="btn bg-red waves-effect" data-target="#addTransaction" data-toggle="modal">Add Transaction</button>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <table class="table table-bordered table-striped table-hover dataTable js-exportable jq-data">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Description)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Date)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Type)
                                </th>


                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.Transactions.OrderByDescending(t => t.Date))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>

                                </tr>
                            }
                        </tbody>


                    </table>
                </div>

            </div>


        </div>


    </div>
</section>



<div id="addTransaction" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-color="red">&times;</button>
                <h4 class="modal-title" style="text-align:center">Add a Transaction</h4>
            </div>
            <div class="modal-body">



                @using (Html.BeginForm("Create", "Transactions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("AccountId", Model.Id)
                <div class="form-horizontal">
                    <hr />
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="input-group">
                        @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.Editor("Description")
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="input-group">
                        @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.Editor("Amount")
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="input-group">
                        @Html.Label("Type", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.DropDownList("Type", EnumHelper.GetSelectList(typeof(TransactionType)))
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="input-group">
                        @Html.Label("Reconciled", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.Editor("Reconciled")
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="input-group">
                        @Html.Label("ReconciledAmount", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.Editor("ReconciledAmount")
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="input-group">
                        @Html.Label("BudgetItemId", "BudgetItemId", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="form-line ">
                                <div type="text" class="form-control ip" placeholder="what is this?">
                                    @Html.DropDownList("BudgetItemId")
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <br />
                    <div class="align-right">
                       
                        <button type="submit" value="Create" class="btn btn-default">Add</button>
                       
                    </div>
                </div>
                }

            </div>
            
        </div>

    </div>
</div>

