@model IEnumerable<Financial.Models.Account>

@{
    ViewBag.Title = "Index";

}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table jq-data">
                <thead>
                    <tr>
                        
                        <th>
                            @Html.DisplayName("Bank Account")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InitialBalance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentBalance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReconciledBalance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LowBalanceLimit)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InitialBalance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentBalance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReconciledBalance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LowBalanceLimit)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

